body{
    background-color: rgb(232, 236, 240);
}
#divPrincipal{
    height: auto;
    width: auto;
    position: relative;
    left: 0 px;
    
}
#barraNavegacion{
    list-style-type: none;
    margin:0;
    padding:0;
}
    
#barraNavegacion li{
    display:block;
    float:left;
    padding:0 10px;
}
#imagenMoveleg{
    position: relative;
    top: 20px;
    left: 10px;
    height: 60px;
    width: 100px;
}
#imagenPerfil{
    position: relative;
    top: 20px;
    left: 430px;
    height: 60px;
    width: 60px;
}
#divBotonesMenu{
    position: relative;
    left: 80px;
}
#barraNavegacion{
    height: 90px;
    width: 1600px;
    background-color: #0b5394ff;
    border-radius: 3px; 
}
#botonMenuInicio{
    background-color: white; 
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 30px;
    left: 15px;
    border-radius: 3px;
}
#botonMenuTerapia{
    background-color: white; 
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 30px;
    border-radius: 3px;
}
#botonMenuSobreNostros{
    background-color: white; 
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 30px;
    right: 15px;
    border-radius: 3px;
}