body{
    background-color: rgb(232, 236, 240);
}
#divPrincipal{
    height: auto;
    width: 1000px;
    position: relative;
    left: 100px;
    border-style: outset;
}
#nombrePaciente {
    height: 50px;
    width: auto;
}

#tablaPacientes {
    overflow: scroll;
    height: 150px;
    width: auto;
}

#fechas {
    height: 200px;
    width: auto;
}
#fechasTitulo{
    position: relative;
    left: 50px;
}
#fecha1 {
    position: relative;
    left: 50px;
}

#fecha2 {
    position: relative;
    left: 600px;
    bottom: 25px;
}


#botonesCrearTerapias {
    height: 28px;
    width: auto;
    position: relative;
    bottom: 10px;
}

#cancelarRegistroTerapiaPaciente {
    background-color: #3d85c6ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 785px;

}

#continuarRegistroTerapiaPaciente {
    background-color: #0b5394ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 790px;

}