body{
    background-color: rgb(232, 236, 240);
}
#divPrincipal{
    height: auto;
    width: 1000px;
    position: relative;
    left: 100px; 
    border-style: outset;
}
#numeroRepeticionesTobillo {
    position: relative;
    left: 50px;
}

#numeroRepeticionesRodilla {
    position: relative;
    left: 600px;
    bottom: 25px;
}

#porcentajeDisminucionRodillaD {
    position: relative;
    left: 50px;
}

#porcentajeDisminucionTobilloD {
    position: relative;
    left: 600px;
    bottom: 25px;
}
#porcentajeDisminucionRodillaV {
    position: relative;
    left: 50px;
    bottom: 5px;
}

#porcentajeDisminucionTobilloV {
    position: relative;
    left: 600px;
    bottom: 25px;
}
#botonesCrearTerapias2{
    height: 28px;
    width: auto;
    position: relative;
    bottom: 10px;
}

#cancelarRegistroTerapiaPaciente2 {
    background-color: #3d85c6ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 785px;

}

#guardarRegistroTerapiaPaciente {
    background-color: #0b5394ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 790px;

}
