body{
    background-color: rgb(232, 236, 240);
}
#divPrincipal{
    height: 300px;
    width: 1000px;
    position: relative;
    left: 100px;
    border-style: outset;
}
#tablaPaciente{   
    overflow: scroll;
    border-collapse: separate;
    position: relative;   
    left: 50px;
}
th{
    background-color: #1c4587ff;
    font-size: 15px;
    color: white;    
    border: 1.5px solid grey;
}
tr, td{ 
    font-size: 15px;
    color: black;    
}

#datosPaciente{
    width: auto;
    height: 20px;
}
#botonesAgregarSesionesPaciente{
    margin-top: 8px;
    width: auto;
    height: auto;
}
#botonAgregarConfiguracion{
    background-color: #0b5394ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 50px;
}

#botonGenerarReporte{
    background-color: #3d85c6ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 148px;
}
#botonAgregarSesion{
    background-color: #0b5394ff; 
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid gray;
    position: relative;
    left: 150px;
}
